* {
    margin: 0;
    padding: 0;
}
:root{
    --blue9: #03045e;
    --blue8: #023e8a;
    --blue7: #0077b6;
    --blue6: #0096c7;
    --blue5: #00b4d8;
    --blue4: #48cae4;
    --blue3: #90e0ef;
    --blue2: #ade8f4;
    --blue1: #caf0f8;
}
body{
    margin: 0;
    background-color: var(--blue7);
}

@font-face {
    font-family: titleFont;
    src: url(/Rsources/From\ Cartoon\ Blocks.ttf);
}
@font-face {
    font-family: textFont;
    src: url(/Rsources/Life\ is\ goofy.ttf);
}

.heading{
    font-family: titleFont;
    font-size: 40px;
    margin-top: 20px;
    text-align: center;
    color: white;
}


.card{
    margin-top: 20px;
    font-family: textFont;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h2{
    font-family: titleFont;
    font-size: 40px;
    text-align: center;
    color: white;
}

.pr{
    overflow: hidden;
    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr, 1fr;
    grid-template-areas:
    "hjump ljump tjump"
    "vid3 vid2 vid1";
}

.vids{
    margin: auto;
}

#plybutton{
    margin: 30px;
    text-align: center;
}

#plybutton button{
    padding: 8px 0px;
    border: none;
    height: 30px;
    width: 86px;
    font-family: textFont;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    color: var(--blue7);
    transition: box-shadow 0.25s, background-color 0.30s, color 0.30s;
}

#plybutton button:hover{
    box-shadow: 0 7px 5px  var(--blue8);
}
#plybutton button:active{
    background-color: var(--blue8);
    color: white;
}

#back{
    position: sticky;
    top: 0;
    margin: 10px;
    padding: 8px 0px;
    border: none;
    height: 28px;
    width: 54px;
    font-family: textFont;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    color: var(--blue7);
    transition: width 0.30s, heigh 0.30s, background-color 0.30s, color 0.30s;
}

#back:hover{
    width: 60px;
}

#back:active{
    background-color: var(--blue8);
    color: white;
}

/* photo album */
.photo-album{
    --gap: 12px;
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.photo-album img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



#ljump{
    grid-area: ljump;
}
#tjump{
    grid-area: tjump;
}

#vid1{
    grid-area: vid1;
}

#vid1{
    grid-area: vid2;
}

@media only screen and (max-width: 1400px){
    .photo-album{
        --num-cols: 2;
        --roq-height: 200px;
    }
}

@media only screen and (max-width: 650px){
    .pr{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr, 1fr, 0.2fr, 1fr, 0.2fr, 1fr,;
        grid-template-areas:
        "ljump"
        "vid2"
        "hjump"
        "vid3"
        "tjump"
        "vid1";
    }
    #plybutton{
        display: none;
    }

    .photo-album{
        --num-cols: 1;
        --roq-height: 200px;
    }
    .photo-album img{
        width: 80%;
        margin: auto;
    }
}
