/* Color Palate 1-9*/
* {
    margin: 0;
    padding: 0;
}

:root{
    --blue9: #03045e;
    --blue8: #023e8a;
    --blue7: #0077b6;
    --blue6: #0096c7;
    --blue5: #00b4d8;
    --blue4: #48cae4;
    --blue3: #90e0ef;
    --blue2: #ade8f4;
    --blue1: #caf0f8;
}
@font-face {
    font-family: titleFont;
    src: url(/Rsources/From\ Cartoon\ Blocks.ttf);
}
@font-face {
    font-family: textFont;
    src: url(/Rsources/Life\ is\ goofy.ttf);
}


body{
    background-color: var(--blue7);
    height: 2000px;
}

.mainH{
    display: flex;
    margin-top: 20px;
    font-family: titleFont;
    color: white;
    font-size: 40px;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.container{
    position: relative;

}

.socials{
    display: flex;
    margin-top: 10px;
    width: 100%;
    justify-content: center;
}

.socials img{
    height: 40px;
    width: 40px;
    margin: 5px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    transition: filter 0.10s, height 0.30s, width 0.30s;

}

.socials img:hover{
    height: 44px;
    width: 44px;
}

.socials img:active{
    filter: invert(16%) sepia(39%) saturate(5052%) hue-rotate(205deg) brightness(92%) contrast(98%);
}

.imContainer{
    display: flex;
    margin: auto;
    border-radius: 10px;
    margin: auto;
    width: 30%;
    height: 400px;
    background-color: white;
    justify-content: center;
    align-items: center;
    display: inline;
}

.imContainer h3{
    color: var(--blue7);
    font-family: titleFont;
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.imoj{
    width: 15px;
}

.imContainer p{
    font-family: textFont;
    font-size: 23px;
    margin-left: 40px;
    margin-top: 5px;
}

.imBg{
    display: flex;
    border-radius: 10px;
    margin-top: 10px;
}

.cartoon{
    position: relative;
    display: flex;
    top: -45px;
    left: -40px;
    width: 250px;
    float: right;
}

.athleticsButton{
    margin: 10px;
    text-align: center;
}

.athleticsButton button{
    padding: 8px 0px;
    border: none;
    height: 30px;
    width: 100px;
    font-family: textFont;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    color: var(--blue7);
    transition: box-shadow 0.25s;
}

.athleticsButton button:hover{
    box-shadow: 0 7px 5px  var(--blue8);
}

/* tablet screen 920 */ 
@media only screen and (max-width: 1000px){
    .imContainer{
        width: 60%;

    }
    .cartoon{
        width: 240px;
        left: -10px;
    }
}
/* mobile screen 500px */
@media only screen and (max-width: 514px){
    .imContainer{
        width: 80%;
        height: 650px;
    }
    .cartoon{
        float: none;
        position: absolute;
        top: 550px;
        left: 25%;
    }
    .mainH{
        font-size: 30px;
    }
    .imContainer p{
        font-size: 23px;
        margin-left: 25%;
    }
}